
<div class="card-trip">
  <div class="card-trip-infos">
    <div class="justify-content-center align-text-center">
      <br>
      <h1 class="justify-content-center align-text-center space-between"><%= list.name %></h1>
    </div>
  </div>
  <hr>
  <%= cl_image_tag list.photo.key, height: 200 , width: 300, crop: :pad if list.photo.key %>
  <hr>
  <% list.bookmarks.each do |bookmark| %>
    <div class="card-trip-infos">
      <h2><%= bookmark.movie.title %> - <%= bookmark.comment %></h2>
      <h2><%= bookmark.movie.rating %></h2>
    </div>
    <hr>
  <% end %>
</div>
